@model OnlineVotingSystem.Models.VotingRound

<div class="container">

    <h2>Edit Voting Round</h2>
    <a href="@Url.Action("ManageVotingRounds", "Admin")" class="btn btn-secondary mb-2">Manage Voting Rounds</a>
    <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary mb-2">Back to the main page</a>

    @using (Html.BeginForm("EditVotingRound", "Admin", FormMethod.Post))
    {

        @Html.HiddenFor(model => model._id)

        <div class="form-group">
            @Html.LabelFor(model => model.Question)
            @Html.TextBoxFor(model => model.Question, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Question)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate)
            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control datetimepicker", data_val = "true", data_val_datetime = "Invalid datetime format." })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate)
            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control datetimepicker", data_val = "true", data_val_datetime = "Invalid datetime format." })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div>

        <div class="form-group">

            <h4>Possible Answers:</h4>
            <ul id="possibleAnswersList">
                @for (int i = 0; i < Model.PossibleAnswers.Count; i++)
                {
                    <li class="possibleAnswerItem">
                        @Html.TextBoxFor(model => model.PossibleAnswers[i], new { @class = "form-control" })
                        <button type="button" class="removePossibleAnswerBtn btn btn-danger">Remove</button>
                    </li>
                }
            </ul>
            <button type="button" id="addPossibleAnswerBtn" class="btn btn-primary">Add Possible Answer</button>

        </div>

        <div class="form-group">

            <h4>Select Users Who Can Vote:</h4>
            @foreach (var user in ViewBag.Users)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="UserCanVote" value="@user._id" /> @user.Username
                    </label>
                </div>
            }

        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>

    }

</div>

@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />

    <script>

        $(document).ready(function () {

            var possibleAnswersCount = @Model.PossibleAnswers.Count;

            $("#addPossibleAnswerBtn").click(function () {
                var listItem = $("<li>").addClass("possibleAnswerItem");
                var input = $("<input>").attr("type", "text").attr("name", "PossibleAnswers[" + possibleAnswersCount + "]").addClass("form-control");
                listItem.append(input);
                listItem.append('<button type="button" class="removePossibleAnswerBtn btn btn-danger">Remove</button>');
                $("#possibleAnswersList").append(listItem);

                possibleAnswersCount++;
            });

            $(document).on("click", ".removePossibleAnswerBtn", function () {
                $(this).closest(".possibleAnswerItem").remove();
            });

            $(".datetimepicker").datetimepicker({
                format: "yyyy-mm-dd hh:ii",
                autoclose: true,
                todayBtn: true,
                pickerPosition: "bottom-left"
            });

        });

    </script>

}