@model OnlineVotingSystem.Models.User

<div class="container">

    <h2>Edit User</h2>
    <a href="@Url.Action("ManageUsers", "Admin")" class="btn btn-secondary mb-2">Manage Users</a>
    <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary mb-2">Back to the main page</a>

    @using (Html.BeginForm("EditUser", "Admin", FormMethod.Post))
    {

        @Html.HiddenFor(model => model._id)
        @Html.HiddenFor(model => model.Password)

        <div class="form-group">
            @Html.LabelFor(model => model.Username)
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @readonly = "readonly" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Role)
            @Html.DropDownListFor(model => model.Role, new SelectList(new[] { "User", "Admin" }), new { @class = "form-control" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update User</button>
        </div>

    }

</div>